.blueColor {
  color: #0000ff;
}
.greenColor {
  color: #4f8000;
}
.pinkColor {
  color: #fa8072;
}
.error {
  font-weight: bold;
  color: white;
}
label {
  font-weight: bold;
  font-size: 20px;
}
input[type="submit reset"] {
  width: 150px;
  height: 25px;
}
input[type="text"] {
  width: 200px;
  height: 25px;
}
header,
main {
  width: 800px;
  margin: auto;
}
header > h1 {
  text-align: center;
}
legend {
  font-weight: bold;
}
fieldset {
  border: 1px solid white;
}
body {
  background-color: #fa8072;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#lblName {
  margin-right: 80px;
}
#lblPhone {
  margin-right: 72px;
}
#fileName {
  margin-bottom: 1px;
}
#filePhone {
  margin-top: 1px;
}
.buttonSize {
  font-size: 16px;
  width: 185px;
  height: 30px;
}
.key {
  position: relative;
  left: 0px;
  font-weight: bold;
  width: 120px;
}
.value {
  position: relative;
  left: 230px;
  top: -20px;
  font-weight: bold;
}
ul {
  list-style: none;
}
.emptyButton {
  font-size: 16px;
  width: 90px;
  height: 30px;
}
li {
  height: 20px;
}
