.blueColor {
  color: #0000ff;
}
.greenColor {
  color: #4f8000;
}
.pinkColor {
  color: #fa8072;
}
.error {
  font-weight: bold;
  color: white;
}
label {
  font-weight: bold;
}
input[type="submit reset"] {
  width: 150px;
  height: 25px;
}
input[type="text"] {
  width: 200px;
  height: 25px;
}
input[type="number"] {
  width: 200px;
  height: 25px;
}
header,
main {
  width: 800px;
  margin: auto;
}
header > h1 {
  text-align: center;
}
legend {
  font-weight: bold;
}
fieldset {
  border: 1px solid white;
}
body {
  background-color: #fa8072;
}
